{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1>Map </h1>
<p>{{ mess }}</p>
{{ form_start(form)}}
{{ form_row(form.codepostal)}}
{{ form_row(form.ville)}}
{{ form_end(form)}}
<input type="text" name="" id="lon" value="{{ lon }}">
<input type="text" name="" id="lat" value="{{ lat }}">
             <div id="map">
             
             </div>
{% endblock %}
